.headerShopInput {
    position: relative;
  }
  .headerShopInput span {
    position: absolute;
    z-index: 2;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 47px;
    text-align: center;
    color: #2c2c2c;
    margin-top: 3px;
  }
  .headerShopInput input {
    padding-left: 46px;
    border-radius: 8px;
    background-color: rgb(255 255 255);
    border: 2px solid #fdd700;
    width: 90%;
    height: 55px;
  }
  .headerShopInput input:focus-visible {
    outline: none;
  }