.shopContentWrap {
  width: 85%;
  position: relative;
  padding: 0 30px;
}
.productsWrap {
  margin-top: 20px;
}
.productsWrap h3 {
  text-transform: uppercase;
  font-size: 25px;
  color: #665210;
  letter-spacing: 2px;
  padding-left: 7px;
  margin-bottom: 15px;
}
.productsWrap h3 span {
  font-size: 18px;
}
.categoryProductsWrap {
  width: 100%;
  margin-bottom: -80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}
