.shopContentWrap {
  width: 85%;
  position: relative;
  padding: 0 30px;
}
.productsWrap {
  margin-top: 20px;
}
.productsWrap h3 {
  text-transform: uppercase;
  font-size: 25px;
  color: #665210;
  letter-spacing: 2px;
  padding-left: 7px;
  margin-bottom: 15px;
}
.productsWrap h3 span {
  font-size: 18px;
}
.categoryProductsWrap {
  width: 100%;
  margin-bottom: -80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}
@keyframes winanim {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.singleProductContainer{
    margin-top: 40px;
    width: 25%;
    flex: 0 0 25%;
    height: 100%;
    margin-bottom: 10px;
    background: transparent;
    position: relative;
    padding: 0 10px;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s;
    backface-visibility: visible;
}
.productBody{
    position: relative;
    transition: ease all 0.3s;
}
.productBody:hover{
    transform: translateY(-10px);
}
.productContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: color 0.25s 0.0833333333s;
    box-shadow: 0 0.5px 6px 0 rgb(0 0 0 / 10%);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.productImgContainer{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.productImg{
    height: 190px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #f3f3f35c;
    backdrop-filter: saturate(180%) blur(5px);
    width: 100%;
    padding: 0;
    transition: ease all 0.3s;
    position: relative;
    
}
.productDescWrap{
    padding: 15px 15px 20px 15px;
    background: #f3f3f35c;
    backdrop-filter: saturate(180%) blur(5px);
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.productDescWrap .productTitle{
    color: #2c2c2c;
    display: block;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(1* 0.06rem);
    margin-bottom: 5px;
    cursor: pointer;
}
.productPriceDiv{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}
.productPriceDiv h5{
    font-size: 16px;
    font-weight: 600;
    color: #2c2c2c;
}
.productModalBtn{
    width: 30px;
    height: 30px ;
    border: 1px solid #fdd700;
    border-radius: 100px;
    cursor: pointer;
}

.shopContentWrap img{
    width: 100%;
    height: 100%;
}