.checkoutBtnWrap .btn {
  background-color: #fcd600;
  width: 215px;
  border-radius: 6px;
  height: 35px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}
.checkoutBtnWrap .btn:focus {
  outline: none;
  box-shadow: none;
}
