.shopSearchHeader {
  margin-top: 30px;
  width: 100%;
  height: 85px;
  position: sticky;
  top: 0px;
  background-color: #fffefac7;
  z-index: 99;
  backdrop-filter: saturate(180%) blur(5px);
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 40px;
  margin: 0 20px;
  padding-top: 5px;
}
.shopHeaderLogo img {
  margin-top: 8px;
}
.headerIconSearch {
  display: flex;
}
.shopHeaderLocation {
  position: relative;
  width: 70px;
}
.shopHeaderLocation .location {
  top: 15px;
  left: 25px;
}
.shopSearchWrap {
  margin: 10px 0;
  width: 50%;
  position: absolute;
  left: 30%;
}




.searchBody {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.searchBody.open {
  opacity: 1;
  pointer-events: auto;
}

.searchContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 0;
  height: 100vh;
  background: #fff;
  border-radius: 0;
  text-align: center;
  overflow-y: auto;
}
.searchContainer::-webkit-scrollbar {
  display: none;
}
.searchBodyClose {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 30px;
  height: 30px;
  z-index: 99;
  cursor: pointer;
}
.searchBodyClose svg {
  height: 2em;
  width: 2em;
}



.searchContainerBody .row:nth-child(1) {
  justify-content: center;
}
.searchContainerBody .headerShopInput span {
  left: 50px;
  top: 7px;
}

.headerShopInput span svg{
  height: 1.3em;
  width: 1.3em;
}

.searchContainerBody .headerShopInput input {
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 20px 0px;
  height: 70px;
}

.showResultTitle p {
  color: #2c2c2c;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.resultsProductWrap{
  width: 100%;
    margin-bottom: -80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}