header{
  height: 55px;
  background-color: white;
  position: relative;
  z-index: 2000;
}
.header {
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.15);
  height: 55px;
  float: left;
  width: 100%;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 56px;
  margin: 0 auto;
}
.navigation {
  width: 65px;
  height: 100%;
  left: 0px;
  top: 0px;
  float: left;
  background: #fcd600;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation span {
  display: inline-block;
  width: 28px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.navigation .top {
  background: #707070;
  border: none;
  height: 2px;
  width: 28px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
 
}
.navigation .middle {
  background: #707070;
  border: none;
  height: 2px;
  width: 28px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}
.navigation .bottom {
  background: #707070;
  border: none;
  height: 2px;
  width: 28px;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}
.login {
  position: absolute;
  left: 90px;
  top: 15px;
  cursor: pointer;
}
.login a {
    padding: 8px 15px; 
    border: 1px solid #fdd700; 
    font-size: 14px; 
    font-weight: 500;
    border-radius: 5px; 
    color: #2c2c2c;
  }
  
.location {
  width: fit-content;
  position: absolute;
  top: 6px;
  left: 190px;
  display: flex;
  align-items: center;
}
.location button {
  display: flex;
  align-items: center;
  min-height: 30px;
  border: none;
  height: 45px;
  width: 45px;
  background: url(../../assets/location.svg) center center no-repeat;
}
.location a {
  font-size: 16px;
  width: max-content;
  color: #2c2c2c;
  font-weight: 500;
  border-left: 1px solid #2c2c2c;
  padding-left: 10px;
  line-height: 16px;
  height: 32px;
}

.floatRight {
  height: 100%;
  display: flex;
  justify-content: end;
}
.about {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.about a {
  color: #2c2c2c;
  font-weight: 500;
}
